* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    object-fit: cover;
}

img{
    height: 500px;
    width: 500px;
    object-fit: cover;
    
}

.image-container{
    display: flex;
}
.carousel {
    display: flex;
    height: 580px;
    width: 500px;
    overflow: hidden;
    align-items: center;
}

.btncontainer {
  width: 500px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

#prev {
  margin-right: auto;
  margin-left: 10px;
}

#next {
    margin-right: 10px;
  }
.radiobtns {
    position: absolute;
    bottom: -197px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}


.btn {
    
    font-size: 16px;
    color: rgba(7, 7, 7, 0.329);
    padding: 20px;
    background-color:rgba(255, 255, 255, 0.623);
    border: none;
    border-radius: 40%;
    font-weight: 600;
}

input[type="radio"] {
    background-color: lightgray;
    border: 2px solid black;
    width: 15px;
    height: 15px;
    margin-left: 5px;
    border-radius: 50%;
    display: inline-block;
  }
